# Terraform artifacts
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive data
terraform.tfvars         # if it contains real creds
*.auto.tfvars
*.pem
*.key
*.crt

# Local SSH material
.ssh/
terraform_rsa
terraform_rsa.pub

# Plan and cache files
*.tfplan
*.backup

# Editor files
.vscode/
.idea/
.DS_Store

*.tfvars